# Task 4.8

## 1. import libraries and data

In [2]:
#import libraries
import pandas as pd 
import numpy as np
import os

In [3]:
path = r'/Users/jazmingutierrez/DEC2023 Instacart Basket Analysis'

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merge_deriving_variables.pkl'))

## 2.  Aggregating mean of order_number grouped department_id for entire dataframe

In [5]:
#Checking dataframe 
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busiest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busiest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busiest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busiest days,Most orders

In [6]:
# perform single aggregation mean of order number by department_id (average number of orders per user department id)
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## 3. Analyze result
There are 21 depatment_id's compared to the subset of 100000 there are only 8.

## 4. Creating flags for Loyalty customers

In [7]:
# Creating new column "max_order"
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Checking for new column
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busiest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busiest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busiest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busiest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busiest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busiest days,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busiest days,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busiest days,Average orders,20

In [10]:
# Assign loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [16]:
# Check Loyalty flag in dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(20)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10

## 5. Customers spending habits comparison

In [18]:
# the min max and mean of each loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

Loyal customer spend the least , new customer spend the most , and regular customer falls in between. This is seen by observing the mean.

## 6. Creating Flag on price mean of Spender

In [29]:
# Creating column for average spender
ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [30]:
# Checking the new column
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spender,spender_flag,average_spend
0,2539329,1,1,2,8,NaN,196,1,0,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,14.0,NaN,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Least busiest days,Average orders,10,New customer,14.0,NaN,6.367797
2,473747,1,3,3,12,21.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Least busiest days,Most orders,10,New customer,14.0,NaN,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,both,...,9.0,Mid-range product,Least busy,Least busiest days,Average orders,10,New customer,14.0,NaN,6.367797
4,431534,1,5,4,15,28.0,196,1,1,both,...,9.0,Mid-range product,Least busy,Least busiest days,Most orders,10,New customer,14.0,NaN,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,14.0,NaN,6.367797
6,550135,1,7,1,9,20.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,NaN,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,both,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,NaN,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,both,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,NaN,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,both,...,9.0,Mid-range product,Least busy,Least busiest days,Average orders,10,New customer,14.0,NaN,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,both,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low_spender,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,9.0,Low_spender,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,9.0,Low_spender,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low_spender,3.980556
14,487368,15,22,1,10,14.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low_spender,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,23.9,NaN,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,23.9,NaN,8.372059
17,532817,19,7,4,17,6.0,196,1,1,both,...,9.0,Mid-range product,Least busy,Least busiest days,Average orders,9,New customer,23.9,NaN,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,both,...,9.0,Mid-range product,Regularly busy,Least busiest days,Most orders,33,Regular customer,15.0,NaN,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,both,...,9.0,Mid-range product,Regularly busy,Least busiest days,Average orders,20,Regular customer,24.1,NaN,8.137793

In [50]:
# Creating flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

In [51]:
ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [52]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31798751
High_spender      635461
Name: count, dtype: int64

In [56]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(60)

    user_id  average_spend spender_flag  prices
0         1       6.367797  Low_spender     9.0
1         1       6.367797  Low_spender     9.0
2         1       6.367797  Low_spender     9.0
3         1       6.367797  Low_spender     9.0
4         1       6.367797  Low_spender     9.0
5         1       6.367797  Low_spender     9.0
6         1       6.367797  Low_spender     9.0
7         1       6.367797  Low_spender     9.0
8         1       6.367797  Low_spender     9.0
9         1       6.367797  Low_spender     9.0
10       15       3.980556  Low_spender     9.0
11       15       3.980556  Low_spender     9.0
12       15       3.980556  Low_spender     9.0
13       15       3.980556  Low_spender     9.0
14       15       3.980556  Low_spender     9.0
15       19       8.372059  Low_spender     9.0
16       19       8.372059  Low_spender     9.0
17       19       8.372059  Low_spender     9.0
18       21       7.012683  Low_spender     9.0
19       31       8.137793  Low_spender     9.0
20       31       8.137793  Low_spender     9.0
21       43       7.444898  Low_spender     9.0
22       43       7.444898  Low_spender     9.0
23       52       6.408876  Low_spender     9.0
24       52       6.408876  Low_spender     9.0
25       52       6.408876  Low_spender     9.0
26       52       6.408876  Low_spender     9.0
27       52       6.408876  Low_spender     9.0
28       52       6.408876  Low_spender     9.0
29       52       6.408876  Low_spender     9.0
30       52       6.408876  Low_spender     9.0
31       52       6.408876  Low_spender     9.0
32       52       6.408876  Low_spender     9.0
33       52       6.408876  Low_spender     9.0
34       52       6.408876  Low_spender     9.0
35       52       6.408876  Low_spender     9.0
36       52       6.408876  Low_spender     9.0
37       67       7.656790  Low_spender     9.0
38       67       7.656790  Low_spender     9.0
39       67       7.656790  Low_spender     9.0
40       67       7.656790  Low_spender     9.0
41       67       7.656790  Low_spender     9.0
42       67       7.656790  Low_spender     9.0
43       67       7.656790  Low_spender     9.0
44       67       7.656790  Low_spender     9.0
45       67       7.656790  Low_spender     9.0
46       67       7.656790  Low_spender     9.0
47       67       7.656790  Low_spender     9.0
48       67       7.656790  Low_spender     9.0
49       67       7.656790  Low_spender     9.0
50       67       7.656790  Low_spender     9.0
51       67       7.656790  Low_spender     9.0
52       67       7.656790  Low_spender     9.0
53       67       7.656790  Low_spender     9.0
54       67       7.656790  Low_spender     9.0
55       67       7.656790  Low_spender     9.0
56       81       8.262963  Low_spender     9.0
57       81       8.262963  Low_spender     9.0
58       82       6.441221  Low_spender     9.0
59       82       6.441221  Low_spender     9.0

## 7. Create a flag for frequent users

In [57]:
# Create a column for frequet users
ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [59]:
# Cheaking for new column
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spender,spender_flag,average_spend,Customer_frequency
0,2539329,1,1,2,8,NaN,196,1,0,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,14.0,Low_spender,6.367797,20.5
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Mid-range product,Regularly busy,Least busiest days,Average orders,10,New customer,14.0,Low_spender,6.367797,20.5
2,473747,1,3,3,12,21.0,196,1,1,both,...,Mid-range product,Regularly busy,Least busiest days,Most orders,10,New customer,14.0,Low_spender,6.367797,20.5
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Mid-range product,Least busy,Least busiest days,Average orders,10,New customer,14.0,Low_spender,6.367797,20.5
4,431534,1,5,4,15,28.0,196,1,1,both,...,Mid-range product,Least busy,Least busiest days,Most orders,10,New customer,14.0,Low_spender,6.367797,20.5
5,3367565,1,6,2,7,19.0,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,14.0,Low_spender,6.367797,20.5
6,550135,1,7,1,9,20.0,196,1,1,both,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,Low_spender,6.367797,20.5
7,3108588,1,8,1,14,14.0,196,2,1,both,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,Low_spender,6.367797,20.5
8,2295261,1,9,1,16,0.0,196,4,1,both,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,Low_spender,6.367797,20.5
9,2550362,1,10,4,8,30.0,196,1,1,both,...,Mid-range product,Least busy,Least busiest days,Average orders,10,New customer,14.0,Low_spender,6.367797,20.5
10,2968173,15,15,1,9,7.0,196,2,0,both,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low_spender,3.980556,10.0
11,1870022,15,17,2,16,8.0,196,6,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,9.0,Low_spender,3.980556,10.0
12,1911383,15,18,2,11,7.0,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,9.0,Low_spender,3.980556,10.0
13,2715276,15,21,1,9,7.0,196,1,1,both,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low_spender,3.980556,10.0
14,487368,15,22,1,10,14.0,196,1,1,both,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low_spender,3.980556,10.0
15,2293453,19,2,5,14,6.0,196,3,0,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,23.9,Low_spender,8.372059,6.0
16,1973799,19,5,6,12,8.0,196,15,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,23.9,Low_spender,8.372059,6.0
17,532817,19,7,4,17,6.0,196,1,1,both,...,Mid-range product,Least busy,Least busiest days,Average orders,9,New customer,23.9,Low_spender,8.372059,6.0
18,1573906,21,10,3,10,6.0,196,2,0,both,...,Mid-range product,Regularly busy,Least busiest days,Most orders,33,Regular customer,15.0,Low_spender,7.012683,7.5
19,1593000,31,10,3,8,7.0,196,17,0,both,...,Mid-range product,Regularly busy,Least busiest days,Average orders,20,Regular customer,24.1,Low_spender,8.137793,6.0

In [60]:
# Creating flag on order frequency
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

In [69]:
ords_prods_merge.loc[(ords_prods_merge['Customer_frequency']>10) & (ords_prods_merge['Customer_frequency']<=20),
                     'frequency_flag'] = 'Regular customer'

In [70]:
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [71]:
# Check frequency flags
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent Customer        21577409
Regular customer          7217134
Non_frequent_customer     3639669
Name: count, dtype: int64

In [73]:
#Checking for columns
ords_prods_merge[['user_id', 'Customer_frequency', 'frequency_flag']].head(60)

    user_id  Customer_frequency         frequency_flag
0         1                20.5  Non_frequent_customer
1         1                20.5  Non_frequent_customer
2         1                20.5  Non_frequent_customer
3         1                20.5  Non_frequent_customer
4         1                20.5  Non_frequent_customer
5         1                20.5  Non_frequent_customer
6         1                20.5  Non_frequent_customer
7         1                20.5  Non_frequent_customer
8         1                20.5  Non_frequent_customer
9         1                20.5  Non_frequent_customer
10       15                10.0      Frequent Customer
11       15                10.0      Frequent Customer
12       15                10.0      Frequent Customer
13       15                10.0      Frequent Customer
14       15                10.0      Frequent Customer
15       19                 6.0      Frequent Customer
16       19                 6.0      Frequent Customer
17       19                 6.0      Frequent Customer
18       21                 7.5      Frequent Customer
19       31                 6.0      Frequent Customer
20       31                 6.0      Frequent Customer
21       43                10.0      Frequent Customer
22       43                10.0      Frequent Customer
23       52                 8.0      Frequent Customer
24       52                 8.0      Frequent Customer
25       52                 8.0      Frequent Customer
26       52                 8.0      Frequent Customer
27       52                 8.0      Frequent Customer
28       52                 8.0      Frequent Customer
29       52                 8.0      Frequent Customer
30       52                 8.0      Frequent Customer
31       52                 8.0      Frequent Customer
32       52                 8.0      Frequent Customer
33       52                 8.0      Frequent Customer
34       52                 8.0      Frequent Customer
35       52                 8.0      Frequent Customer
36       52                 8.0      Frequent Customer
37       67                 7.0      Frequent Customer
38       67                 7.0      Frequent Customer
39       67                 7.0      Frequent Customer
40       67                 7.0      Frequent Customer
41       67                 7.0      Frequent Customer
42       67                 7.0      Frequent Customer
43       67                 7.0      Frequent Customer
44       67                 7.0      Frequent Customer
45       67                 7.0      Frequent Customer
46       67                 7.0      Frequent Customer
47       67                 7.0      Frequent Customer
48       67                 7.0      Frequent Customer
49       67                 7.0      Frequent Customer
50       67                 7.0      Frequent Customer
51       67                 7.0      Frequent Customer
52       67                 7.0      Frequent Customer
53       67                 7.0      Frequent Customer
54       67                 7.0      Frequent Customer
55       67                 7.0      Frequent Customer
56       81                30.0  Non_frequent_customer
57       81                30.0  Non_frequent_customer
58       82                11.5       Regular customer
59       82                11.5       Regular customer

## Export data as pkl

In [77]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))